/* You can add global styles to this file, and also import other style files */
body{
    background-color:darkslategray;
}

.content{
    margin-top: 10px;
    opacity: 0.85;
    background-color:white;
}